In [13]:
# !pip install lenskit

In [14]:
from lenskit.datasets import ML100K

# Datasource: https://grouplens.org/datasets/movielens/100k/
ml = ML100K('ml-100k')
ratings = ml.ratings
ratings.head()

   user  item  rating  timestamp
0   196   242     3.0  881250949
1   186   302     3.0  891717742
2    22   377     1.0  878887116
3   244    51     2.0  880606923
4   166   346     1.0  886397596

In [10]:
ml.movies

,title,release,vidrelease,imdb,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
item,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
type(ml.movies)

pandas.core.frame.DataFrame

In [12]:
ml.users

      age gender     occupation    zip
user
1      24      M     technician  85711
2      53      F          other  94043
3      23      M         writer  32067
4      24      M     technician  43537
5      33      F          other  15213
...   ...    ...            ...    ...
939    26      F        student  33319
940    32      M  administrator  02215
941    20      M        student  97229
942    48      F      librarian  78209
943    22      M        student  77841

[943 rows x 4 columns]

In [32]:
# Baseline Model
from lenskit.algorithms.basic import Popular

baseline = Popular()
baseline.fit(ratings[:-1000])

# Hardcode -> User 14 is a scientist
recommendations_df = baseline.recommend(14, n=20)
print(recommendations_df)

    item  score
0    258  505.0
1    286  478.0
2    294  476.0
3      1  442.0
4    300  430.0
5    237  380.0
6    117  374.0
7     79  333.0
8    405  333.0
9     69  320.0
10   748  313.0
11   257  301.0
12   423  297.0
13   118  292.0
14   318  292.0
15   328  291.0
16   183  289.0
17   216  285.0
18   234  279.0
19    64  278.0

In [40]:
response = ml.movies.join(recommendations_df.set_index("item"), on="item", how= "inner")
response[["title", "release", "imdb", "score"]]

,title,release,imdb,score
item,,,,
1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%2...,442.0
64,"Shawshank Redemption, The (1994)",01-Jan-1994,http://us.imdb.com/M/title-exact?Shawshank%20R...,278.0
69,Forrest Gump (1994),01-Jan-1994,http://us.imdb.com/M/title-exact?Forrest%20Gum...,320.0
79,"Fugitive, The (1993)",01-Jan-1993,"http://us.imdb.com/M/title-exact?Fugitive,%20T...",333.0
117,"Rock, The (1996)",07-Jun-1996,"http://us.imdb.com/M/title-exact?Rock,%20The%2...",374.0
118,Twister (1996),10-May-1996,http://us.imdb.com/M/title-exact?Twister%20(1996),292.0
183,Alien (1979),01-Jan-1979,http://us.imdb.com/M/title-exact?Alien%20(1979),289.0
216,When Harry Met Sally... (1989),01-Jan-1989,http://us.imdb.com/M/title-exact?When%20Harry%...,285.0
234,Jaws (1975),01-Jan-1975,http://us.imdb.com/M/title-exact?Jaws%20(1975),279.0
237,Jerry Maguire (1996),13-Dec-1996,http://us.imdb.com/M/title-exact?Jerry%20Magui...,380.0
257,Men in Black (1997),04-Jul-1997,http://us.imdb.com/M/title-exact?Men+in+Black+...,301.0
258,Contact (1997),11-Jul-1997,http://us.imdb.com/Title?Contact+(1997/I),505.0
286,"English Patient, The (1996)",15-Nov-1996,http://us.imdb.com/M/title-exact?English%20Pat...,478.0
294,Liar Liar (1997),21-Mar-1997,http://us.imdb.com/Title?Liar+Liar+(1997),476.0
300,Air Force One (1997),01-Jan-1997,http://us.imdb.com/M/title-exact?Air+Force+One...,430.0
318,Schindler's List (1993),01-Jan-1993,http://us.imdb.com/M/title-exact?Schindler's%2...,292.0
328,Conspiracy Theory (1997),08-Aug-1997,http://us.imdb.com/M/title-exact?Conspiracy+Th...,291.0
405,Mission: Impossible (1996),22-May-1996,http://us.imdb.com/M/title-exact?Mission:%20Im...,333.0
423,E.T. the Extra-Terrestrial (1982),01-Jan-1982,http://us.imdb.com/M/title-exact?E%2ET%2E%20th...,297.0
748,"Saint, The (1997)",14-Mar-1997,http://us.imdb.com/M/title-exact?Saint%2C%20Th...,313.0

In [40]:
# Implement the Logic from previous cells
def get_user_recommendations(age=28, gender="M", occupation="scientist"):
    raise NotImplementedError()